@font-face {
  font-family: 'Cambria';
  src:
          local('Cambria'),
          url('../fonts/Cambria.ttf');
}

@font-face {
  font-family: 'Cambria-Bold';
  src:
          local('Cambria-Bold'),
          url('../fonts/Cambria-Bold.ttf');
}