.logo-text {
  padding-top: 20px;
  text-align: center;
  width: 540px;
}

.logo-text--title {
  color: #8f5846;
  font-size: 43px;
  line-height: 43px;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.logo-text--description {
  color: #a90e0e;
  font-size: 18px;
  line-height: 25px;
}